.ProductIndex {
  background-color: rgb(253, 244, 246);
  width: 100vw;
  height: 100%;
  padding-top: 30px;
}
.editCategory {
  background-color: rgb(253, 244, 246);
  height: 100vh;
}
.createProduct {
  background-color: rgb(253, 244, 246);
  height: 100vh;
}
